.invoice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-top: 100px;
}

.invoice div {
  border: 3px dotted black;
  cursor: pointer;
  padding-bottom: 10px;
  border-radius: 10px;
}

.newinvoice {
  width: 100% !important;
  height: 100%;
}

.newinvoice_text {
  font-weight: 900;
  font-size: 30px;
}
